<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=(local);Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="SA38_MovieTicketingDBEntities" connectionString="metadata=res://*/EDM_MovieTicketing.csdl|res://*/EDM_MovieTicketing.ssdl|res://*/EDM_MovieTicketing.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=SA38_MovieTicketingDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" defaultUrl="MTS_UI/HomeUI.aspx"/>
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/"
          name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
          type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <siteMap defaultProvider="WebProvider" enabled="true">
      <providers>
        <add name="MasterProvider"
          description="Default SiteMap provider."
          type="System.Web.XmlSiteMapProvider"
          siteMapFile="MTS_UI\Master.sitemap"
          securityTrimmingEnabled="false" />

        <add name="WebProvider"
          description="Default SiteMap provider."
          type="System.Web.XmlSiteMapProvider"
          siteMapFile="Web.sitemap"
          securityTrimmingEnabled="false" />
      </providers>
    </siteMap>
  </system.web>

  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="MTS_UI/HomeUI.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="MTS_UI/MoviesUI.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="MTS_UI/MemberUI.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="MTS_UI/Promotions.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="MTS_UI/MaintenanceUI.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <allow roles="staff"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="MTS_UI/New Movie.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <allow roles="staff"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="MTS_UI/NewSchedule.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <allow roles="staff"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="MTS_UI/TheatreDetails.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <allow roles="staff"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="MTS_UI/RestaurantMaintenance.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <allow roles="staff"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="MTS_UI/IssueTickets.aspx">
    <system.web>
      <authorization>
        <allow roles="admin"/>
        <allow roles="staff"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <!--<sessionState  mode="InProc" timeout ="20" cookieless="UseCookies"></sessionState>-->
</configuration>